.git
.github
.devcontainer
site
.vs
.vscode
artifacts
docs
node_modules
tests
**/bin
**/obj
**/TestResults
*.user
*.suo
**/*.security.json
**/*.security.json.*.tmp
.editorconfig
.env
.env.*
.azure
.gitattributes
.markdownlint.jsonc
.nvmrc
.npmrc
.prettierignore
.prettierrc.json
compose.yaml
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
