.git
.github
.vs
.vscode
artifacts
docs
node_modules
tests
**/bin
**/obj
**/TestResults
*.user
*.suo
.editorconfig
.gitattributes
.markdownlint.jsonc
.nvmrc
.npmrc
.prettierignore
.prettierrc.json
compose.yaml
package.json
pnpm-lock.yaml
pnpm-workspace.yaml
README.md
